{"openapi":"3.1.0","info":{"title":"Stard Market API","summary":"Public API for Telegram Stars, Premium, Gifts, NFTs, Usernames and Numbers on Stard Market","description":"مستندات کامل: https://stard-market.ir/docs — احراز هویت: Authorization: Bearer sk_live_… یا sk_test_…","version":"1.0.0"},"servers":[{"url":"https://stard-market.ir"}],"paths":{"/api/v1/ping":{"get":{"tags":["Public API v1"],"summary":"بررسی کلید","operationId":"ping_api_v1_ping_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/categories":{"get":{"tags":["Public API v1"],"summary":"دسته‌های محصول","operationId":"categories_api_v1_categories_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/products":{"get":{"tags":["Public API v1"],"summary":"فهرست محصولات","operationId":"list_products_api_v1_products_get","parameters":[{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"title":"Category"}},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":64},{"type":"null"}],"title":"Search"}},{"name":"pricing_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":16},{"type":"null"}],"title":"Pricing Type"}},{"name":"min_price","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}],"title":"Min Price"}},{"name":"max_price","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}],"title":"Max Price"}},{"name":"purchasable","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Purchasable"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","maxLength":16,"default":"price_asc","title":"Sort"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":100000,"minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/products/tag/{tag}":{"get":{"tags":["Public API v1"],"summary":"محصول با تگ","operationId":"product_by_tag_api_v1_products_tag__tag__get","parameters":[{"name":"tag","in":"path","required":true,"schema":{"type":"string","title":"Tag"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/products/{ref}":{"get":{"tags":["Public API v1"],"summary":"یک محصول یا فهرست یک دسته","operationId":"product_or_category_api_v1_products__ref__get","parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string","title":"Ref"}},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":64},{"type":"null"}],"title":"Search"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","maxLength":16,"default":"price_asc","title":"Sort"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":100000,"minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/products/{product_id}/price":{"get":{"tags":["Public API v1"],"summary":"قیمت لحظه‌ای یک محصول","operationId":"product_price_api_v1_products__product_id__price_get","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"integer","title":"Product Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/prices":{"get":{"tags":["Public API v1"],"summary":"قیمت لحظه‌ای استارز، TON و دلار","operationId":"prices_api_v1_prices_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/stars/price":{"get":{"tags":["Public API v1"],"summary":"قیمت تعداد مشخصی استارز","operationId":"stars_price_api_v1_stars_price_get","parameters":[{"name":"quantity","in":"query","required":false,"schema":{"type":"integer","maximum":1000000,"minimum":50,"default":50,"title":"Quantity"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/premium/prices":{"get":{"tags":["Public API v1"],"summary":"قیمت پلن‌های تلگرام پریمیوم","operationId":"premium_prices_api_v1_premium_prices_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/marketplace":{"get":{"tags":["Public API v1"],"summary":"آمار بازار","operationId":"marketplace_api_v1_marketplace_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/auctions":{"get":{"tags":["Public API v1"],"summary":"مزایده‌های فعال","operationId":"auctions_api_v1_auctions_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":100000,"minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auctions/{product_id}":{"get":{"tags":["Public API v1"],"summary":"یک مزایده","operationId":"auction_api_v1_auctions__product_id__get","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"integer","title":"Product Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auctions/{product_id}/bids":{"get":{"tags":["Public API v1"],"summary":"پیشنهادهای یک مزایده (بدون هویت پیشنهاددهنده)","operationId":"auction_bids_api_v1_auctions__product_id__bids_get","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"integer","title":"Product Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/wallet":{"get":{"tags":["Public API v1"],"summary":"موجودی کیف پول","operationId":"wallet_api_v1_wallet_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/transactions":{"get":{"tags":["Public API v1"],"summary":"تراکنش‌های کیف پول","operationId":"transactions_api_v1_transactions_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":100000,"minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/orders":{"post":{"tags":["Public API v1"],"summary":"ثبت سفارش","operationId":"create_order_api_v1_orders_post","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderIn"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Public API v1"],"summary":"سفارش‌های ثبت‌شده با API","operationId":"list_orders_api_v1_orders_get","parameters":[{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":16},{"type":"null"}],"title":"Status"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":100000,"minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/orders/{ref}":{"get":{"tags":["Public API v1"],"summary":"یک سفارش","operationId":"get_order_api_v1_orders__ref__get","parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string","title":"Ref"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/orders/{ref}/cancel":{"post":{"tags":["Public API v1"],"summary":"لغو سفارشی که هنوز شروع نشده","operationId":"cancel_order_api_v1_orders__ref__cancel_post","parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string","title":"Ref"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/orders/quote":{"post":{"tags":["Public API v1"],"summary":"پیش‌قیمت سفارش","operationId":"order_quote_api_v1_orders_quote_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteIn"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/boosts":{"get":{"tags":["Public API v1"],"summary":"بوست کانال: مدت‌ها و قیمت","operationId":"boosts_catalog_api_v1_boosts_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/boosts/price":{"get":{"tags":["Public API v1"],"summary":"قیمت دقیق بوست","operationId":"boosts_price_api_v1_boosts_price_get","parameters":[{"name":"quantity","in":"query","required":true,"schema":{"type":"integer","maximum":100000,"minimum":1,"title":"Quantity"}},{"name":"duration","in":"query","required":true,"schema":{"type":"integer","maximum":400,"minimum":1,"title":"Duration"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/boosts/orders":{"post":{"tags":["Public API v1"],"summary":"ثبت سفارش بوست","operationId":"boost_order_api_v1_boosts_orders_post","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoostOrderIn"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/boosts/orders/{ref}":{"get":{"tags":["Public API v1"],"summary":"وضعیت سفارش بوست","operationId":"boost_order_get_api_v1_boosts_orders__ref__get","parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string","title":"Ref"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/gifts":{"get":{"tags":["Public API v1"],"summary":"گیفت‌های استارزی قابل ارسال","operationId":"gifts_list_api_v1_gifts_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/gifts/send":{"post":{"tags":["Public API v1"],"summary":"ارسال گیفت استارزی به یک یوزرنیم","operationId":"gifts_send_api_v1_gifts_send_post","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftSendIn"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/gifts/orders/{ref}":{"get":{"tags":["Public API v1"],"summary":"وضعیت ارسال گیفت","operationId":"gifts_order_get_api_v1_gifts_orders__ref__get","parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string","title":"Ref"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/usernames/check":{"get":{"tags":["Public API v1"],"summary":"بررسی یوزرنیم در فروشگاه Stard","operationId":"usernames_check_api_v1_usernames_check_get","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string","maxLength":40,"title":"Username"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/usernames/{username}":{"get":{"tags":["Public API v1"],"summary":"یک یوزرنیم","operationId":"usernames_get_api_v1_usernames__username__get","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string","title":"Username"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/listings":{"get":{"tags":["Public API v1"],"summary":"آگهی‌های فعال بازار P2P (فقط خواندنی)","operationId":"listings_api_v1_listings_get","parameters":[{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20},{"type":"null"}],"title":"Category"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":100000,"minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/nfts/{slug}/history":{"get":{"tags":["Public API v1"],"summary":"سابقه‌ی فروش یک گیفت NFT","operationId":"nft_history_api_v1_nfts__slug__history_get","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string","title":"Slug"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/nfts/collections/{slug}/stats":{"get":{"tags":["Public API v1"],"summary":"آمار یک کالکشن NFT","operationId":"nft_collection_stats_api_v1_nfts_collections__slug__stats_get","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string","title":"Slug"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/market/stats":{"get":{"tags":["Public API v1"],"summary":"آمار بازار گیفت‌ها و NFTها","operationId":"market_stats_api_v1_market_stats_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/prices/history":{"get":{"tags":["Public API v1"],"summary":"تاریخچه‌ی قیمت استارز","operationId":"prices_history_api_v1_prices_history_get","parameters":[{"name":"interval","in":"query","required":false,"schema":{"type":"string","default":"1h","title":"Interval"}},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/products/{product_id}/price-history":{"get":{"tags":["Public API v1"],"summary":"تاریخچه‌ی قیمت یک محصول","operationId":"product_price_history_api_v1_products__product_id__price_history_get","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"integer","title":"Product Id"}},{"name":"interval","in":"query","required":false,"schema":{"type":"string","default":"1d","title":"Interval"}},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/price-alerts":{"get":{"tags":["Public API v1"],"summary":"فهرست هشدارهای قیمت","operationId":"alert_list_api_v1_price_alerts_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}},"post":{"tags":["Public API v1"],"summary":"ساخت هشدار قیمت","operationId":"alert_create_api_v1_price_alerts_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertIn"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/price-alerts/{aid}":{"delete":{"tags":["Public API v1"],"summary":"حذف هشدار قیمت","operationId":"alert_delete_api_v1_price_alerts__aid__delete","parameters":[{"name":"aid","in":"path","required":true,"schema":{"type":"string","title":"Aid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/orders/{ref}/refund":{"post":{"tags":["Public API v1"],"summary":"بازپرداخت سفارشی که هنوز شروع نشده","operationId":"order_refund_api_v1_orders__ref__refund_post","parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string","title":"Ref"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Public API v1"],"summary":"وضعیت بازپرداخت سفارش","operationId":"order_refund_status_api_v1_orders__ref__refund_get","parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string","title":"Ref"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/wallet/topups":{"post":{"tags":["Public API v1"],"summary":"درخواست شارژ موجودی TON","operationId":"wallet_topup_api_v1_wallet_topups_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopupIn"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/wallet/topups/{memo}":{"get":{"tags":["Public API v1"],"summary":"وضعیت شارژ TON","operationId":"wallet_topup_get_api_v1_wallet_topups__memo__get","parameters":[{"name":"memo","in":"path","required":true,"schema":{"type":"string","title":"Memo"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/status":{"get":{"tags":["Public API v1"],"summary":"وضعیت سرویس‌های Stard","operationId":"service_status_api_v1_status_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/test/orders/{ref}/simulate":{"post":{"tags":["Public API v1"],"summary":"شبیه‌سازی نتیجه‌ی سفارش (فقط test)","operationId":"simulate_api_v1_test_orders__ref__simulate_post","parameters":[{"name":"ref","in":"path","required":true,"schema":{"type":"string","title":"Ref"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimulateIn"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AlertIn":{"properties":{"asset":{"type":"string","title":"Asset","description":"stars | ton | product"},"product_id":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Product Id"},"condition":{"type":"string","title":"Condition","description":"below | above"},"price":{"type":"integer","maximum":10000000000000.0,"minimum":1.0,"title":"Price","description":"قیمت هدف به تومان"}},"type":"object","required":["asset","condition","price"],"title":"AlertIn"},"BoostOrderIn":{"properties":{"recipient":{"type":"string","maxLength":120,"title":"Recipient","description":"@channel یا t.me/channel (کانال یا گروه عمومی)"},"quantity":{"type":"integer","maximum":100000.0,"minimum":1.0,"title":"Quantity"},"duration":{"type":"integer","maximum":400.0,"minimum":1.0,"title":"Duration"},"pay_currency":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pay Currency","description":"TON یا IRT؛ پیش‌فرض: منبع داشبورد"},"quote_id":{"anyOf":[{"type":"string","maxLength":80},{"type":"null"}],"title":"Quote Id"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"type":"object","required":["recipient","quantity","duration"],"title":"BoostOrderIn"},"GiftSendIn":{"properties":{"product_id":{"type":"integer","minimum":1.0,"title":"Product Id"},"recipient":{"type":"string","maxLength":64,"title":"Recipient","description":"@username گیرنده"},"message":{"anyOf":[{"type":"string","maxLength":200},{"type":"null"}],"title":"Message","description":"پیام روی گیفت"},"pay_currency":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pay Currency"},"quote_id":{"anyOf":[{"type":"string","maxLength":80},{"type":"null"}],"title":"Quote Id"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"type":"object","required":["product_id","recipient"],"title":"GiftSendIn"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"OrderIn":{"properties":{"type":{"type":"string","title":"Type","description":"product | stars","default":"product"},"product_id":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Product Id"},"quantity":{"type":"integer","maximum":1000000.0,"minimum":1.0,"title":"Quantity","description":"برای محصول همیشه ۱؛ برای استارز تعداد (حداقل ۵۰)","default":1},"recipient":{"anyOf":[{"type":"string","maxLength":64},{"type":"null"}],"title":"Recipient","description":"یوزرنیم گیرنده (برای استارز و گیفت الزامی)"},"gift_message":{"anyOf":[{"type":"string","maxLength":200},{"type":"null"}],"title":"Gift Message"},"pay_currency":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pay Currency","description":"TON یا IRT؛ پیش‌فرض: منبع انتخاب‌شده در داشبورد"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"},"quote_id":{"anyOf":[{"type":"string","maxLength":80},{"type":"null"}],"title":"Quote Id"}},"type":"object","title":"OrderIn"},"QuoteIn":{"properties":{"type":{"type":"string","title":"Type","description":"stars | product | boost"},"quantity":{"type":"integer","maximum":1000000.0,"minimum":1.0,"title":"Quantity","default":1},"product_id":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Product Id"},"duration":{"anyOf":[{"type":"integer","maximum":400.0,"minimum":1.0},{"type":"null"}],"title":"Duration","description":"فقط برای boost: مدت به روز"},"recipient":{"anyOf":[{"type":"string","maxLength":64},{"type":"null"}],"title":"Recipient"}},"type":"object","required":["type"],"title":"QuoteIn"},"SimulateIn":{"properties":{"outcome":{"type":"string","title":"Outcome","description":"processing | completed | failed | refunded"}},"type":"object","required":["outcome"],"title":"SimulateIn"},"TopupIn":{"properties":{"amount_ton":{"anyOf":[{"type":"number","maximum":100000.0,"minimum":0.1},{"type":"null"}],"title":"Amount Ton"}},"type":"object","title":"TopupIn"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"sk_live_… | sk_test_…"}}},"security":[{"bearerAuth":[]}],"externalDocs":{"url":"https://stard-market.ir/docs","description":"Stard developer docs"}}